/*
.md-header-nav__topic {
    color: transparent;
}
*/

/*
.md-header-nav__button.md-logo img {
    width: 150px;
}
*/

/* Imperfect hack to get links in code blocks to match the rest of the block
.md-typeset td > code:not(:first-child),
.md-typeset td > a > code {
    border-radius: 0 .1rem .1rem 0;
    box-shadow: .29412em 0 0 hsla(0,0%,92.5%,.5);
    background-color: hsla(0,0%,92.5%,.5);
    padding: .07353em 0;
}
*/

[data-md-color-scheme="mongodb"] {
  --md-primary-fg-color:        #13AA52;
  --md-primary-fg-color--light: #83DBA7;
  --md-primary-fg-color--dark:  #116149;

  --md-accent-fg-color:        #13AA52;
}